
 body{
   background-color: #000000;
   padding: 0px;
   margin: 0px;
  }

html {
  background:
    repeating-linear-gradient(90deg,#0000 0 15px,#000 0 30px);
}
html:before,
html:after {
  content:"";
  position:fixed;
  top:300px;
  left:0;
  width:60px;
  height:40px;
  background:yellow;
  animation:a 7s linear infinite alternate;
}


.logo {
  font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Neue Regular", Icons;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 3.8rem;
  line-height: 1.1;
  color: #fff;
    background-color: none;
  }

 .toptext{
    width:200px;
    height: 45px;
      background-color: magenta;
    padding: 15px;  
    text-align: center;
    line-height: 50px;
  }
  span{
    font-size: 50px;
    font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Neue Regular", Icons;
    color: white;
    animation: blink 1s linear infinite;
  }


@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

@keyframes a {
  to {left:calc(100% - 60px)}
}


@keyframes a {
  to {left:calc(100% - 60px)}
}

    .feed-of-images {
      display: flex;
      flex-wrap: wrap;
    }
    .infoimg {
      width: 350px;
    }
    figure {
      width: 7rem;
      margin:0;
      margin-top: 10px;
      padding: 15px;
    }
    figure img, figure video {
      width: 100%;
      vertical-align: middle;
      cursor: pointer;
    }
    aside {
      position: fixed;
      top: 0;left:0;
      height: 100vh;
      width: 100vw;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;
      z-index: 1;

    }
    aside.poppin {
      display: block;
    }
    .aside-parent {
      position: relative;
      height: 100%;
      width: 100%;
    }
    aside img, aside video {
      pointer-events: none;
      width: 100%;
      height: 98%;
        position: absolute;
      top: 50%;left: 50%;
      transform:translate(-50%,-50%);
        object-fit: contain;
    }
    .slider {
      margin-left: 10px;
    }
figure {
  width: var(--width);
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-content {
font-family: helvetica;
font-size: 16px;
margin-top: 5px;
display: none;
position: absolute;
background-color: #ffff;
min-width: 160px;
max-width: 350px;
padding: 1px 16px;
overflow: auto;
outline: 1px solid;
right: 0;

z-index: 1;
}
.show {display: block;}
    button {
      margin-left: 88vw;
    }
    .toptext {
      font-family: Helvetica;
      padding: 10px;
      line-height: 1.4;
      font-size: 16px;
    }
a:link {
color: black;
background-color: transparent;
text-decoration: none;
font-size: 16px;
}
a:visited {
color: black;
background-color: transparent;
text-decoration: none;
}
a:hover {
color: white;
background-color: blue;
text-decoration: none;
}
.footer3 {
  display: flex;
  flex-direction: row;
  text-align: bottom;
  position: fixed;
  bottom: 40px;
  font-family: Helvetica;
  font-size: 16px;
  margin: 10px;  
}
.footer3  > div {
  margin-right: 200px;
}
@media only screen and (max-width: 600px) {
figure {
      width: 100%;
      margin:0;
      margin-top: 10px;
      padding: 10px;
    }
  .slider {
      margin-left: 10px;
    display: none;
    }
  .footer3 {
    position: static;
    top: 10px;
  }
   .footer3  > div {
  margin-right: 20px;
}
button {
      margin-left: 80vw;
    }
    .dropdown-content {
max-width: 300px;
}
.infoimg {
      width: 250px;
    }
}
aside, .feed-of-images {user-select: none}


