body{
  background:lightblue;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap:nowrap;
  justify-content: space-evenly;

}
x
.shape{
  width: 200px ;
  height: 200px;
  boerder-radius: 50%;
  background-color: blue;
  margin-left:auto;
  margin-right:auto;
}

@media screen and (max-width: 768px) and (orientation:landscape){

  body{
    background-color: lightpink;
  }
  .container{
  flex-direction :row;
  
  }

  .shape{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    background-color: mintcream;
  }
}


