body{
  width: 100%;
  height: auto;
  animation: pulse 3s infinite alternate,
  nudge 5s linear infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: lightskyblue;
  }
  100% {
    background-color: pink;
  }
}

.rect{
  width:1200px;
  height:500px;
  background-color:red;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;

  animation-name:move-right;
  animation-duration:2s;
  animation-direction:alternate;
  animation-iteration-count:infinite;
}

@keyframes move-right{
  from{
    margin-left:0;
    background-color:red;
  }
  to{
    margin-left:100%;
    background-color:mediumblue;
  }
}


.blob{
	animation: blob 2s ease infinite alternate none;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: hotpink;
}


@keyframes blob{
	0%{
		border-radius: 0%;
		background-color: rebeccapurple;
		transform: rotate(0deg);
	}

	50%{
		border-radius: 0 50 50 0;
		background-color: red;
		transform: rotate(45deg);
}


	100%{
		border-radius: 100%;
		background-color: red;
		transform: rotate(90deg);
  }
}



.box::before {
        content: "";
        position: absolute;
        top: 10;
        left: 0;
        width: 1200px;
        height: 40px;
        background: black;
        animation: animate 4s linear infinite;
    }
  
    @keyframes animate {
        0% {
            left: 0;
        }
  
        50% {
            left: 100%;
        }
  
        0% {
            left: 0;
        }
    }




