h3{
 font-size: 40pt;
 color: blue;
 font-family: monospace;
}

.main #important h3{
 background-color: pink ;
}

a{
	font-size:24pt;
	color: pink;
	font font-family: monospace;

}

a:hover{
	color:green;
	font-size: 48pt;
	font-family: serif;
}


.main #important a:hover{
	color: blue;
	font-size: 12pt;
	font family: monospace;
}

.main #important a:active{
	color: purple;
	font-size: 5pt;
	font family: monospace;

}

div.main{
	width: 500px;
	height:500px;
	bakcground-color:green;
	margin:50px;
	font-size:48pt;
}

div.main:before{
	content:"\03a9";
}

div.main:after{
	content:url(https://i.pinimg.com/originals/cd/f4/3d/cdf43d73171e016e57b17b6a0ead6de3.jpg)
}

