.paragraph{
 font-family: sans-serif;
 font-size: 50px;
 color: gray;
 background-color: #dadada;
}



.rainbowClass{
 font-family: revert;
 font-size: 70px;
 color: whitesmoke;
 background-color: linear-gradient(20deg,pink);

}

.dark{
 font-family: sans-serif;
 color: whitesmoke;
 background-color: black;
}

div#rainbow{
 width:100px;
 height:100px;
 background: red;
 border-radius: 100%;

}


div#dark{
 width:100px;
 height:100px;
 background: black;
 border-radius: 100%;
}